<script setup lang="ts">
import { useHomeStore } from '@/stores/homeStore';
import NumberButton3 from './NumberButton.vue';
import { provide, ref } from 'vue';
import NumberButton2 from '@/components/NumberButton2.vue';
const homewStore = useHomeStore()
const num = ref(10)
provide('num1', num )
provide('num1Click', () => {
    num.value += 2
})
</script>
<template>
    <div>{{ homewStore.num }}</div>
    <div><NumberButton3></NumberButton3></div>
    <div><NumberButton2></NumberButton2></div>
</template>