<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore';
import AddressBookForm from './AddressBookForm.vue';
import AddressBookList from './AddressBookList.vue';

const addressBookStore = useAddressBookStore()
</script>

<template>
    <div>
        <AddressBookForm></AddressBookForm>
        <AddressBookList></AddressBookList>
    </div>
</template>

<style scoped>
input,
select,
label,
button {
    font-family: "Kanit";
    font-size: 20pt;
    margin: 5px;
}
</style>
