<script setup lang="ts">
import MessageList from '@/components/MessageList.vue';
import MessageBox from '@/components/MessageBox.vue';
import { nextTick, ref } from 'vue';
const messages = ref<string[]>(['Message 1','Message 2','Message 3','Message 4'])
const messageList = ref<typeof MessageList | null>(null)
const answers = ['สวัสดีที่รัก', 'ไปไหนมาหรอ', 'กินข้าวหรือยัง', 'ไม่คุยด้วยและ']
function send(message: string) {
    messages.value.push(message)
    answerWithComputer()
}
function answerWithComputer() {
    const ranAns = Math.floor(Math.random()*10000)%answers.length
    const answer = answers[ranAns]
    nextTick(() => {
        messages.value.push(answer)
    })
    messageList.value?.updateUI()
}
</script>

<template>
<div>
    <MessageList :messages="messages"></MessageList>
    <MessageBox @send="send"></MessageBox>
</div>
</template>
